<div class="container mt-3" dir="rtl">
  <h2>עבור כל אמצעי מדידה המופיע להלן
    נא מלא את כמה גרמים/מיללטרים מרכיב זה הוא מכיל</h2>

  <!-- גרמים או מילילטרים -->
  <div style="width: 10%; flex: content;" class="form-check form-switch">
    <!-- <label for="isGrams">הרכיב נמדד ב:</label> -->
    <!-- <span>גרמים</span> -->
    <label class="form-check-label" for="isGrams">גרמים</label>
    <input id="vol" name="isGrams" class="form-check-input" [(ngModel)]="isGrams" type="checkbox" id="mySwitch">מילילטרים
  </div>

  <div class="row">
    <div *ngFor="let a of divid!" class="col container m-12" style="width: 40%;">
      <table [formGroup]='myForm' class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="text-align: end;">אמצעי המדידה</th>
            <th>תכולה ב{{isGrams? "גרמים": "מילליטרים"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of a">

            <td style="text-align: end;">{{m.measureName}}</td>

            <td><input type="number" step="0.01" class="form-control" id="m{{m.measureID}}" formControlName='m{{m.measureID}}'
                name="m{{m.measureID}}"></td>
          </tr>


        </tbody>
      </table>
    </div>
    <button (click) = "close('')">אישור</button>
  </div>
</div>