<div dir="rtl" class="container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <!-- <th></th>      -->
            </tr>
        </thead>
        <tbody>
             <tr><!--*ngFor="let item of ingsToAdd"
                <td>{{item.quantity}}</td> 
                <td>{{item.meashureName == "אין צורך בכלי"? "" : item.meashureName}}</td> 
                <td>{{item.Note}}</td> 
                <td><button routerLink="/full/{{item.recipyID}}">למתכון לו שייך הרכיב</button></td>                    
                <td><button >הוסף רכיב כזה</button></td> 
                <td><button >ערוך</button></td> -->
                <!-- (click)="" -->
            </tr>
        </tbody>
    </table>
    <!-- <button (click)="isAdd=!isAdd">{{!isAdd? "הוסף תחפושת" : "סגור טופס"}}</button>            -->
</div>
